name: Monthly Auto-Commit and Reset

on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  auto_commit:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create empty commit
        run: |
          git config user.name "Agampreet Singh"
          git config user.email "68941022+agam778@users.noreply.github.com"
          git commit --allow-empty -m "Empty commit"

      - name: Push commit
        run: |
          git push

      - name: Reset to last commit
        run: |
          git reset --soft HEAD~1
          git push --force
